<?xml version="1.0" encoding="UTF-8"?>

<households xmlns="http://www.matsim.org/files/dtd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.matsim.org/files/dtd http://www.matsim.org/files/dtd/households_v1.0.xsd">
    {% for household in households -%}
    <household id={{household.id}}>
        {% if household.members -%}
        <members>
            {% for member in household.members -%}
            <personId refId="{{member.id}}"/>        
            {%- endfor %}
        </members>
        {%- endif %}
        {% if household.vehicles -%}
        <vehicles>
            {% for vehicle in household.vehicles -%}
            <vehicleDefinitionId refId="{{vehicle.id}}"/>
            {%- endfor %}
        </vehicles>
        {%- endif %}
        {% if household.income -%}
        <income period="{{household.income.year}}">{{ household.income.value }}</income>
        {%- endif %}
    </household>
    {%- endfor %}
</households>